<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.free.es.mapper.ArticleMapper">

    <select id="selectListFull" resultType="com.free.es.model.Article">
        select * from es_article
        <where>
            1=1
            <if test="u.title!=null and u.title!=''">
                and title = #{u.title}
            </if>

            <if test="u.content!=null and u.content!=''">
                and u.content = #{u.content}
            </if>
            <if test="u.summary!=null and u.summary!=''">
                and summary = #{u.summary}
            </if>

            <if test="u.author!=null and u.author!=''">
                and author = #{u.author}
            </if>
            <if test="u.isEnd!=null">
                and is_end = #{u.isEnd}
            </if>
            <if test="u.isPublish!=null and u.isPublish!=''">
                and is_publish = #{u.isPublish}
            </if>
            <if test="u.keyword!=null and u.keyword!=''">
                <bind name="pattern" value="'%' + u.keyword + '%'"/>
                and
                CONCAT(
                IFNull(title,''),
                IFNull(content,''),
                IFNull(summary,''),
                IFNull(author,'')
                )
                like #{pattern}
            </if>
            <if test="u.startTime!=null and u.startTime!=''">
                <![CDATA[   and DATE_FORMAT(create_time, '%Y-%m-%d')>=  DATE_FORMAT(#{u.startTime}, '%Y-%m-%d')   ]]>
            </if>
            <if test="u.endTime!=null and u.endTime!=''">
                <![CDATA[  and DATE_FORMAT(create_time, '%Y-%m-%d') <= DATE_FORMAT(#{u.endTime}, '%Y-%m-%d')    ]]>
            </if>
        </where>
    </select>
</mapper>
